<div class="chessboard">
    <!-- 8st -->
    <div id="7,0" class="white clicavel" (click)="tryMovePiece(7,0)"><span [innerHTML]="tabuleiro.tabuleiro[7][0].codigoPeca"></span></div>
    <div id="7,1" class="black clicavel" (click)="tryMovePiece(7,1)"><span [innerHTML]="tabuleiro.tabuleiro[7][1].codigoPeca"></span></div>
    <div id="7,2" class="white clicavel" (click)="tryMovePiece(7,2)"><span [innerHTML]="tabuleiro.tabuleiro[7][2].codigoPeca"></span></div>
    <div id="7,3" class="black clicavel" (click)="tryMovePiece(7,3)"><span [innerHTML]="tabuleiro.tabuleiro[7][3].codigoPeca"></span></div>
    <div id="7,4" class="white clicavel" (click)="tryMovePiece(7,4)"><span [innerHTML]="tabuleiro.tabuleiro[7][4].codigoPeca"></span></div>
    <div id="7,5" class="black clicavel" (click)="tryMovePiece(7,5)"><span [innerHTML]="tabuleiro.tabuleiro[7][5].codigoPeca"></span></div>
    <div id="7,6" class="white clicavel" (click)="tryMovePiece(7,6)"><span [innerHTML]="tabuleiro.tabuleiro[7][6].codigoPeca"></span></div>
    <div id="7,7" class="black clicavel" (click)="tryMovePiece(7,7)"><span [innerHTML]="tabuleiro.tabuleiro[7][7].codigoPeca"></span></div>
    <!-- 7nd -->
    <div id="6,0" class="black clicavel" (click)="tryMovePiece(6,0)"><span [innerHTML]="tabuleiro.tabuleiro[6][0].codigoPeca"></span></div>
    <div id="6,1" class="white clicavel" (click)="tryMovePiece(6,1)"><span [innerHTML]="tabuleiro.tabuleiro[6][1].codigoPeca"></span></div>
    <div id="6,2" class="black clicavel" (click)="tryMovePiece(6,2)"><span [innerHTML]="tabuleiro.tabuleiro[6][2].codigoPeca"></span></div>
    <div id="6,3" class="white clicavel" (click)="tryMovePiece(6,3)"><span [innerHTML]="tabuleiro.tabuleiro[6][3].codigoPeca"></span></div>
    <div id="6,4" class="black clicavel" (click)="tryMovePiece(6,4)"><span [innerHTML]="tabuleiro.tabuleiro[6][4].codigoPeca"></span></div>
    <div id="6,5" class="white clicavel" (click)="tryMovePiece(6,5)"><span [innerHTML]="tabuleiro.tabuleiro[6][5].codigoPeca"></span></div>
    <div id="6,6" class="black clicavel" (click)="tryMovePiece(6,6)"><span [innerHTML]="tabuleiro.tabuleiro[6][6].codigoPeca"></span></div>
    <div id="6,7" class="white clicavel" (click)="tryMovePiece(6,7)"><span [innerHTML]="tabuleiro.tabuleiro[6][7].codigoPeca"></span></div>
    <!-- 6th -->
    <div id="5,0" class="white clicavel" (click)="tryMovePiece(5,0)"><span [innerHTML]="tabuleiro.tabuleiro[5][0].codigoPeca"></span></div>
    <div id="5,1" class="black clicavel" (click)="tryMovePiece(5,1)"><span [innerHTML]="tabuleiro.tabuleiro[5][1].codigoPeca"></span></div>
    <div id="5,2" class="white clicavel" (click)="tryMovePiece(5,2)"><span [innerHTML]="tabuleiro.tabuleiro[5][2].codigoPeca"></span></div>
    <div id="5,3" class="black clicavel" (click)="tryMovePiece(5,3)"><span [innerHTML]="tabuleiro.tabuleiro[5][3].codigoPeca"></span></div>
    <div id="5,4" class="white clicavel" (click)="tryMovePiece(5,4)"><span [innerHTML]="tabuleiro.tabuleiro[5][4].codigoPeca"></span></div>
    <div id="5,5" class="black clicavel" (click)="tryMovePiece(5,5)"><span [innerHTML]="tabuleiro.tabuleiro[5][5].codigoPeca"></span></div>
    <div id="5,6" class="white clicavel" (click)="tryMovePiece(5,6)"><span [innerHTML]="tabuleiro.tabuleiro[5][6].codigoPeca"></span></div>
    <div id="5,7" class="black clicavel" (click)="tryMovePiece(5,7)"><span [innerHTML]="tabuleiro.tabuleiro[5][7].codigoPeca"></span></div>
    <!-- 5st -->
    <div id="4,0" class="black clicavel" (click)="tryMovePiece(4,0)"><span [innerHTML]="tabuleiro.tabuleiro[4][0].codigoPeca"></span></div>
    <div id="4,1" class="white clicavel" (click)="tryMovePiece(4,1)"><span [innerHTML]="tabuleiro.tabuleiro[4][1].codigoPeca"></span></div>
    <div id="4,2" class="black clicavel" (click)="tryMovePiece(4,2)"><span [innerHTML]="tabuleiro.tabuleiro[4][2].codigoPeca"></span></div>
    <div id="4,3" class="white clicavel" (click)="tryMovePiece(4,3)"><span [innerHTML]="tabuleiro.tabuleiro[4][3].codigoPeca"></span></div>
    <div id="4,4" class="black clicavel" (click)="tryMovePiece(4,4)"><span [innerHTML]="tabuleiro.tabuleiro[4][4].codigoPeca"></span></div>
    <div id="4,5" class="white clicavel" (click)="tryMovePiece(4,5)"><span [innerHTML]="tabuleiro.tabuleiro[4][5].codigoPeca"></span></div>
    <div id="4,6" class="black clicavel" (click)="tryMovePiece(4,6)"><span [innerHTML]="tabuleiro.tabuleiro[4][6].codigoPeca"></span></div>
    <div id="4,7" class="white clicavel" (click)="tryMovePiece(4,7)"><span [innerHTML]="tabuleiro.tabuleiro[4][7].codigoPeca"></span></div>
    <!-- 4th -->
    <div id="3,0" class="white clicavel" (click)="tryMovePiece(3,0)"><span [innerHTML]="tabuleiro.tabuleiro[3][0].codigoPeca"></span></div>
    <div id="3,1" class="black clicavel" (click)="tryMovePiece(3,1)"><span [innerHTML]="tabuleiro.tabuleiro[3][1].codigoPeca"></span></div>
    <div id="3,2" class="white clicavel" (click)="tryMovePiece(3,2)"><span [innerHTML]="tabuleiro.tabuleiro[3][2].codigoPeca"></span></div>
    <div id="3,3" class="black clicavel" (click)="tryMovePiece(3,3)"><span [innerHTML]="tabuleiro.tabuleiro[3][3].codigoPeca"></span></div>
    <div id="3,4" class="white clicavel" (click)="tryMovePiece(3,4)"><span [innerHTML]="tabuleiro.tabuleiro[3][4].codigoPeca"></span></div>
    <div id="3,5" class="black clicavel" (click)="tryMovePiece(3,5)"><span [innerHTML]="tabuleiro.tabuleiro[3][5].codigoPeca"></span></div>
    <div id="3,6" class="white clicavel" (click)="tryMovePiece(3,6)"><span [innerHTML]="tabuleiro.tabuleiro[3][6].codigoPeca"></span></div>
    <div id="3,7" class="black clicavel" (click)="tryMovePiece(3,7)"><span [innerHTML]="tabuleiro.tabuleiro[3][7].codigoPeca"></span></div>
    <!-- 3th -->
    <div id="2,0" class="black clicavel" (click)="tryMovePiece(2,0)"><span [innerHTML]="tabuleiro.tabuleiro[2][0].codigoPeca"></span></div>
    <div id="2,1" class="white clicavel" (click)="tryMovePiece(2,1)"><span [innerHTML]="tabuleiro.tabuleiro[2][1].codigoPeca"></span></div>
    <div id="2,2" class="black clicavel" (click)="tryMovePiece(2,2)"><span [innerHTML]="tabuleiro.tabuleiro[2][2].codigoPeca"></span></div>
    <div id="2,3" class="white clicavel" (click)="tryMovePiece(2,3)"><span [innerHTML]="tabuleiro.tabuleiro[2][3].codigoPeca"></span></div>
    <div id="2,4" class="black clicavel" (click)="tryMovePiece(2,4)"><span [innerHTML]="tabuleiro.tabuleiro[2][4].codigoPeca"></span></div>
    <div id="2,5" class="white clicavel" (click)="tryMovePiece(2,5)"><span [innerHTML]="tabuleiro.tabuleiro[2][5].codigoPeca"></span></div>
    <div id="2,6" class="black clicavel" (click)="tryMovePiece(2,6)"><span [innerHTML]="tabuleiro.tabuleiro[2][6].codigoPeca"></span></div>
    <div id="2,7" class="white clicavel" (click)="tryMovePiece(2,7)"><span [innerHTML]="tabuleiro.tabuleiro[2][7].codigoPeca"></span></div>
    <!-- 2th -->
    <div id="1,0" class="white clicavel" (click)="tryMovePiece(1,0)"><span [innerHTML]="tabuleiro.tabuleiro[1][0].codigoPeca"></span></div>
    <div id="1,1" class="black clicavel" (click)="tryMovePiece(1,1)"><span [innerHTML]="tabuleiro.tabuleiro[1][1].codigoPeca"></span></div>
    <div id="1,2" class="white clicavel" (click)="tryMovePiece(1,2)"><span [innerHTML]="tabuleiro.tabuleiro[1][2].codigoPeca"></span></div>
    <div id="1,3" class="black clicavel" (click)="tryMovePiece(1,3)"><span [innerHTML]="tabuleiro.tabuleiro[1][3].codigoPeca"></span></div>
    <div id="1,4" class="white clicavel" (click)="tryMovePiece(1,4)"><span [innerHTML]="tabuleiro.tabuleiro[1][4].codigoPeca"></span></div>
    <div id="1,5" class="black clicavel" (click)="tryMovePiece(1,5)"><span [innerHTML]="tabuleiro.tabuleiro[1][5].codigoPeca"></span></div>
    <div id="1,6" class="white clicavel" (click)="tryMovePiece(1,6)"><span [innerHTML]="tabuleiro.tabuleiro[1][6].codigoPeca"></span></div>
    <div id="1,7" class="black clicavel" (click)="tryMovePiece(1,7)"><span [innerHTML]="tabuleiro.tabuleiro[1][7].codigoPeca"></span></div>
    <!-- 1th -->
    <div id="0,0" class="black clicavel" (click)="tryMovePiece(0,0)"><span [innerHTML]="tabuleiro.tabuleiro[0][0].codigoPeca"></span></div>
    <div id="0,1" class="white clicavel" (click)="tryMovePiece(0,1)"><span [innerHTML]="tabuleiro.tabuleiro[0][1].codigoPeca"></span></div>
    <div id="0,2" class="black clicavel" (click)="tryMovePiece(0,2)"><span [innerHTML]="tabuleiro.tabuleiro[0][2].codigoPeca"></span></div>
    <div id="0,3" class="white clicavel" (click)="tryMovePiece(0,3)"><span [innerHTML]="tabuleiro.tabuleiro[0][3].codigoPeca"></span></div>
    <div id="0,4" class="black clicavel" (click)="tryMovePiece(0,4)"><span [innerHTML]="tabuleiro.tabuleiro[0][4].codigoPeca"></span></div>
    <div id="0,5" class="white clicavel" (click)="tryMovePiece(0,5)"><span [innerHTML]="tabuleiro.tabuleiro[0][5].codigoPeca"></span></div>
    <div id="0,6" class="black clicavel" (click)="tryMovePiece(0,6)"><span [innerHTML]="tabuleiro.tabuleiro[0][6].codigoPeca"></span></div>
    <div id="0,7" class="white clicavel" (click)="tryMovePiece(0,7)"><span [innerHTML]="tabuleiro.tabuleiro[0][7].codigoPeca"></span></div>
</div>